html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Noto Sans JP', sans-serif;
}

/* design of navbar */
.sticky{
  width: 100%;
  position: sticky;
  top: 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.54);
  overflow: hidden;
  background-color: #094067;
}

.nav-link{
  font-weight: bold;
}

/* design of body */
.intro{
  padding: 4vw;
  background-color: #fffffe;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  text-shadow: 0px 2px 8px;
}

.studyImg, .info {
  padding: 1rem;
  width: 50%;
}

.studyImg {
  padding: 0;
  min-width: 20rem;
  height: auto;
}

.info{
  color: #094067;
  display: flex;
  flex-direction: column;
  font-size: 3vw;
  padding-left: 2rem;
}

.heading{
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 5rem;
  font-size: 7vw;
  font-weight: bolder;
  text-align: center;
}

.heading2{
  font-size: 3.5rem;
}

.about{
  background-color: #d8eefe;
  color: #094067;
  text-shadow: 0px 2px 5px;
  padding: 4vw;
  text-align: center;
  font-size: 4vw;
  font-weight: 200;
}

.button{
  background-color: #3da9fc; /* Light Blue */
  border: none;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3rem;
  margin: 2rem;
  cursor: pointer;
  width: 40%;
  border-radius: 20px 20px;
}

.button:hover{
  box-shadow: 0px 4px 8px;
}