<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSDA Home Page</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body>
    <nav>
        <div class="brandTitle">OSDA</div>
        <img src="assets/menu_white_36dp.svg" alt="toggle menu" class="toggleButton" onclick="toggleMenu();">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#aboutCompetition">About Competition</a></li>
            <li><a href="#register">Register</a></li>
        </ul>    
    </nav>
</body>
</html>